<div id="card">
    <div id="inside">
        <header>
            <div class="left">
                <div id="name">My Monster</div>
            </div>
            <div class="right">
                <div id="hp">40 HP</div>
                <img src="./assets/power/electric.png" alt="electric" class="energy icon">
            </div>
        </header>
        <figure id="art">
            <img src="./assets/pokemon/rabbit.png" alt="">
            <figcaption>N°025 Monster</figcaption>
        </figure>
        <div id="capacities">
            <div class="capacity">
                <div class="main">
                    <div class="cost">
                        <img src="./assets/power/electric.png" alt="" class="icon energy">
                        <img src="./assets/power/electric.png" alt="" class="icon energy">
                    </div>
                    <div class="name">Geo Impact</div>
                    <div class="damage">60</div>
                </div>
            </div>
            <div class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, ipsam.
            </div>
        </div>
    </div>
</div>
