<div id="card">
    <div id="inside">
        <header>
            <div class="left">
                <div id="name">{{monster.name}}</div>
            </div>
            <div class="right">
                <div id="hp">{{monster.hp}}</div>
                <img src="./assets/power/electric.png" alt="electric" class="energy icon">
            </div>
        </header>
        <figure id="art">
            <img src="./assets/pokemon/rabbit.png" alt="">
            <figcaption>{{monster.figureCaption}}</figcaption>
        </figure>
        <div id="capacities">
            <div class="capacity">
                <div class="main">
                    <div class="cost">
                        <img src="./assets/power/electric.png" alt="" class="icon energy">
                        <img src="./assets/power/electric.png" alt="" class="icon energy">
                    </div>
                    <div class="name">{{monster.attackName}}</div>
                    <div class="damage">{{monster.attackStrenght}}</div>
                </div>
            </div>
            <div class="description">
                {{monster.attackDescription}}
            </div>
        </div>
    </div>
</div>
